
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('https://www.w3schools.com/w3images/forestbridge.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
 
.bgimg2{
    background-image: url('https://www.w3schools.com/w3images/parallax1.jpg');
    background-color: rgba(0, 0, 0, 10);
}

.bgimg3{
    background-image: url('https://www.w3schools.com/w3images/woods.jpg');
    background-color: rgba(0, 0, 6, 20);
    

}

.bgimg4{
    background-image: url('https://www.w3schools.com/w3images/p5.jpg');
    background-color: rgba(0, 0, 6, 20);
    

}

.w3-bar-item{
    float: right;
}
.bunny{
  
    text-align: left;

}
.w3-display-topright{

    margin-right: 15%;


}

.w3-display-topleft{

    margin-left: 8%;
}